<header>This is a header</header>

<% if(!username) { %>
    <form action= "/urls/login" method= "POST">
        Name:
        <input id="login" type="text" name="loginInfo" style="width: 100px" placeholder="userName">
        <input type="submit" value="Submit">
    </form>
<% } else { %>
    <form action= "/urls/logout" method= "POST">
        <button>Logout</button>
    </form>
<%} %>





