<header><b>Welcome!</b></header>
<% if(!user) { %>
    <a href="/register">Register Here!</a>
<% } %> 

<p>Already have an account? <a href="/login">Login Here</a></p>

<% if(user) { %>
    <p> <%= user.id %> <p> 
    <form method = "post" action = "/logout">
        <a href = "/urls"><button>Logout</button></a>
        </form> 
<% } %> 

