<header><b>Welcome!</b></header>
<% if(!user) { %>
    
<p>Already a member? <a href="/login">Login Here</a></p>
<p>Let's register!<a href="/register">Register Here!</a></p>
<% } %> 
<% if(user) { %>
    <p> <b>Your user ID: </b><%= user.id %> <p> 
    <p> <b>Your email address: </b><%= user.email %></p>
    <form method = "POST" action = "/logout">
        <a href = "/urls"><button>Logout</button></a>
    </form> 
<% } %> 

