<center>
<form action= "/login" method= "POST">
    Username:
    <input id="userId" type="text" name="id" style="width: 100px" placeholder="username">
    <br/>Password: 
    <input id="password" type="text" name="password" style="width: 100px" placeholder="password">
    <br/>Email:  
    <input id="email" type="text" name="email" style="width: 100px" placeholder="xyc@gmail.com">
    <br/><input type="submit" value="Submit">
</form>
</center>
