<center>
<form action= "/login" method= "POST">

    <br/>Email:
    <input id="email" type="text" name="email" style="width: 100px" placeholder="xyc@gmail.com">
    <br/>Password:
    <input id="password" type="text" name="password" style="width: 100px" placeholder="password">
    <br/><input type="submit" value="Submit">
</form>
<a href="/register">Haven't registered yet? Click here to register</a>
</center>
