<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% for(var header in urls) { %>
        <li><%= header + ': ' + urls[header] %></li> 
        <form method = "post" action = "/urls/<%= header %>/delete">
            <a href = 'edit'>Edit</a> 
            <button>Delete</button>
        </form>
        <% } %>
    
</body>
</html>