<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
         <% include ./partials/_header %>
         <% for(var header in urls) { %>
            <li><%= header + ': ' + urls[header].longURL %></li>

            <form method = "post" action = "/urls/<%= header %>/delete">

            <a href = 'edit'>Edit</a> <button>Delete</button>

            </form>
        <% } %>

    <a href = "/urls/new">Let's create an URL!</a>
</body>
</html>