<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
  <title>TinyApp</title>
</head>
<body>
    <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
      <label for="input">ShortURL: <b><%= shortURL %></b> </label><br>
      <input id="input" type="text" name="url" placeholder= "https://" style="width: 300px" value="<%= url %>">
      <input type="submit" value="Submit">
    </form>
</body>
</html>

