<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
  <title>TinyApp</title>
</head>
<body>
    
    <form action="/urls" method="POST" style="margin:150px;">
      Your short url is <b><%= shortURL %> </b>, which is for <b><%= url %></b>.<br>
      <label for="UpdatedUrl">Update your urls:</label>
      <input id="UpdatedUrl" type="text" name="UpdatedUrl" placeholder="http://" style="width: 300px" value="<%= url %>">
      <input type="submit" value="Submit">
    </form>

    
</body>
</html>

