<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
         <% include ./partials/_header %>

         <br><br>&nbsp&nbsp&nbsp&nbsp&nbsp<b>Short Urls:</b>&nbsp<b>long Urls</b>
                <% for(var index in allUrl) { %>
                    <li><%= index + ': ' + allUrl[index].longURL %> 
                    <a href = "/urls/<%= index %>">Edit</a>
                    <form method = "POST" action = "/urls/<%= index %>/delete"><button>Delete</button></form>
                    </li>
                <% } %>
         </p>
       

    <a href = "/urls/new">Let's create an URL!*</a> 

</body>
</html>
