<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
         <% include ./partials/_header %>

         <br><br>&nbsp&nbsp&nbsp&nbsp&nbsp<b>Short Urls:</b>&nbsp<b>long Urls</b>
                <% for(var key in urls) { %>
                    <li><%= key + ': ' + urls[key].longURL %> 
                    <a href = "/urls/<%= key %>">Edit</a>
                    <form method = "POST" action = "/urls/<%= key %>/delete" style="display: inline-block">
                        <button>Delete</button>
                    </form>
                    </li>
                <% } %>
         </p>
       

    <a href = "/urls/new">Let's create an URL!*</a> 

</body>
</html>
